body{
    background-image: url("./img/unicorn.jpg");
    background-size: cover;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    color: rgb(157, 7, 157);
}

h1 {
    padding: 2em;
    text-align: center;
    color: rgb(157, 7, 157);
}

h2 {
    padding: 2em;
    text-align: center;
    color: rgb(245, 1, 245);
}